@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/BuckepSum.js"></script>

    <h1>Cubo Summary</h1>   


<div class="row" class="jumbotron">

    <div class="col-md-6">
        <h2 style="margin-left:100px;">Entrada</h2>
        <textarea class="form-control textAreaCustomize" rows="15" id="input" name="input" required></textarea>
        
    </div>
    
    <div class="col-md-6">
        <h2 style="margin-left:100px;">Salida</h2>
        <textarea class="form-control textAreaCustomize" rows="15" id="output" name="output" readonly></textarea>
    </div>
    <div class="col-sm-9 text-center">
        <button type="button" class="btn btn-info" id="run" name="run" onclick="runSum()">Sumar </button>
    </div>

</div>