<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XG.BucketSum.Con.SettingsBucketSum" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <XG.BucketSum.Con.SettingsBucketSum>
            <setting name="pathLines" serializeAs="String">
                <value>C:\Users\Usuario\Desktop\entrada.txt</value>
            </setting>
        </XG.BucketSum.Con.SettingsBucketSum>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBucketSumService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58467/BucketSumService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBucketSumService"
                contract="BucketSumService.IBucketSumService" name="BasicHttpBinding_IBucketSumService" />
        </client>
    </system.serviceModel>
</configuration>